@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-VariableFont_wdth\,wght.ttf')
}

body {
    font-family: 'Roboto', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.Header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #1F2937;
}

.Logo {
    font-weight: 800;
    font-size: 24px;
    color: #F9FAF8;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    gap: 9px;
}

/* CONTENT */

.Content {
    display: flex;
    flex-direction: column;
}

.Content1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 300px;
    padding: 110px;
}

.Content1-1 {
    width: 450px;
}

.Content1-1-1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.Content1-1-2 {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border: none;
    background-color: #3882F6;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    font-weight: 900;
}

.button1 {
    margin-top: 10px;
}

.Content2 {
    text-align: center;
    padding-bottom: 120px;
}

.Content2-1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 50px 0;
}

.Content2-2 {
    display: flex;
    justify-content: center;
    gap: 0;
}

.Tinycontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.Tinytxt {
    margin-top: 8px;
}

.Box {
    border: #3882F6 solid;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.Content3 {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;    
    padding: 120px 0 100px 0;
}

.Content3-1 { 
    color: #1F2937;
    font-weight: 300;       
    max-width: 800px;
}

.Quote {
    font-style: italic;
    font-size: 36px
}

.Thor {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-style: none;
}

.Footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    padding: 35px 0;
}